<div class="swiper-container">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      *ngFor="let movie of movies"
      [ngStyle]="{
        'background-size': 'cover',
        'background-image':
          'url(https://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'
      }"
    >
      <!-- 'url(https://image.tmdb.org/t/p/w500' + 'movie.backdrop_path + ')' -->
      <div class="movie-descripction">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.overview | slice: 0:130 }}...</p>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div (click)="onSlicePrev()" class="swiper-button-prev"></div>
  <div (click)="onSliceNext()" class="swiper-button-next"></div>
</div>
